.background{
  background-color: #e2d2e2;
}
.img {
  width: 250px;
  border-radius: 50%;
  border: 5px solid #555;
  margin: 10px;
}

.table{
  display:table;
  border: 5px solid #555;
}
  
.table-row{
  display:table-row;
}
  
.table-cell{
  display:table-cell;
}

.walls{
  margin: 10px;
}